/* $Id: drupalimage.css,v 1.1.2.1 2007/04/09 21:50:44 darrenoh Exp $ */
.mceItemDrupalImage {
	border: 1px dotted #cc0000;
	background-image: url('images/drupalimage.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}
