/* $Id: category_bulkedit.css,v 1.1.2.2 2006/05/20 07:02:50 jaza Exp $ */

.category-bulkedit-floated-list {
  float: left;
  width: 25%;
  margin-top: 0;
}
.category-bulkedit-clear {
  clear: both;
}
