/* $Id: upload_image.css,v 1.1.4.1 2006/07/06 00:10:21 drewish Exp $ */
/* We do not want the table from upload.module to show up*/
#attachments {
  display: none;
}

.upload-image-images img {
  border: 1px solid #000;
  margin: 5px;
}

.upload-image-images ul li {
  list-style: none;
  display: inline;
}
