@import "base.css";

body {
  color: #000;
  background: #006600;
}
a {
  color: #006600;
}
#site-name a, #site-slogan a {
  color: #006600;
}
#site-name a {
  vertical-align: top
}
#top-nav {
  color: #fff;
  border-color: #FFCC00;
  background: #006600;
}
#primary, #secondary, #primary li, #secondary li {
  border-color: #FFCC00;
  text-align: center;
}
.content-title {
  color: #060; /* #0a0; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.calendar .day-today, .calendar .day-today a {
  background: #060; /* #0a0; */
  color: #fff;
}
.poll .bar .foreground {
  background: #006600;
}
.comment {
  border: 1px solid #FFCC00;
}
.comment .picture {
  border: 1px solid;
}
#mission {
  background-color: #006600;
}
#mission a {
  color: #4f4;
}

#right-logo img {
    float: right;
    padding: 10px;
}

.category-navigation ul.menu li {
    display: block;
    height: 40px;
    padding: 0;
    width: 70%;   
}

.category-navigation ul.menu li span.left {
    float: left;
    padding-top: 4px;   
}

.category-navigation ul.menu li img.taxonomy_image {
    display: inline;
    float: right;
}


.agaric {
    margin: 5px auto;
    line-height: 1.5em;
}

div.content + br {
    display: none;
}

div.node div.content {
  overflow: auto;
}

a.more-link {
  display: block;
  /* font-weight: bold; */
  text-align: right;
}

h4.bidderlist {
  margin-top: 1em;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 0;
}

.alert {
  color: red;
}

a.bid-link {
  display: block;
}

#block-views-Featured_Items {
    border: 2px dashed #FFCC00;
    padding-left: 8px;
    padding-right: 8px;
    margin: 10px;
}

#block-views-Featured_Items h2 {
    text-align: center;
}

#block-block-3 {
  border: 1px solid #FFCC00;
  padding: 3px 8px 5px;
  margin: 9px 0;
}

div.upload-image-images {
	float: left;
	margin: 0 8px 4px 0;
}

table#attachments {
  display: none;
}

/* none of this is exposed to theme by default */
.unpublished {
  background-color: #ddd;
}