/* $Id: img_assist.css,v 1.1.2.5 2007/09/21 04:04:54 sun Exp $ */

/**
 * IMG ASSIST WINDOW
 */ 
body.img_assist {
  margin: 0px;
  padding: 5px;
  width: auto;
  min-width: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  background-color: #efefef;
}
/* Thin line between the header frame and the main frame */
body#img_assist_thumbs, body#img_assist_upload, body#img_assist_properties {
  border-top: 1px solid #000;
}
/* Darker background color in the header frame */
body#img_assist_header {
  background-color:#ccc;
  margin: 0;
}
/* Thin border around images */
.img_assist img  {
  border: 1px solid #000;
}
.img_assist-button {
  font-weight: bold;
  margin: 3px;
}
.img_assist img {
  display: inline; /* pushbutton theme changes the display to block */
}
.img_assist .messages {
  border: 1px solid #000;
  background-color: #ccc;
  padding: 2px;
  margin: 3px 0px 6px 0px;
}

/* Upload Window */
.img_assist .node-form {
  width: 95%;
}

/* Properties Window */
.img_assist #preview {
  padding: 5px 10px 5px 5px;
}
.img_assist .form-item { /* the first form field on the properties frame should be at the top of the page  */
  margin-top: 0px;
  margin-bottom: 1em;
}
.img_assist #caption {
  display: block;
}
.img_assist #browse div.form-item {
  display: inline;
}
.img_assist #link-group div.form-item{
  display: inline;
}
.img_assist #size div.form-item{
  display: inline;
}
.img_assist #size-other div.form-item{
  display: inline;
}
.img_assist #alignment {
  text-align: left;
}
.img_assist #edit-title, .img_assist #edit-desc {
  width: 99%;
}
.img_assist #edit-link {
  width: 155px;
}
.img_assist #edit-url {
  width: 150px;
}
.img_assist #edit-align {
  width: 100px;
}  
#finalhtmlcode {
  display: none;
  visibility: hidden;
}

/* Header Frame */
#header-uploading, #header-properties, #header-browse {
  float: left; 
  width: 80%;
}
#header-startover, #header-cancel {
  float: right;
  width: 19%;
  text-align: right;
}

#header-uploading input, #header-properties input, #header-browse input, #header-startover input, #header-cancel input, #header-uploading select, #header-properties select, #header-browse select {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
}


/**
 * POPUP IMAGES WINDOW
 */
body#img_assist_popup {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
}

/**
 * FINAL PAGE (node)
 * You may want to copy these styles to your theme's CSS file and then set img_assist.css 
 * not to load on every page.  This can be set on the img_assist settings page.
 */ 
span.left img {
  float: left;
  margin: 5px 5px 5px 0px;
}
span.right img {
  float: right;
  margin: 5px 0px 5px 5px;
}
span.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.caption {
  display: block; /* put the caption under the image (not next to it) */
}
.inline img{
  border: 1px solid #000; /* put a thin border around inline images */
}
.image-clear { /* Clear floated images. Copied from Garland's style.css. */
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}
